
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EAAhqu1TtTwMBO9DJQkjZA0eekkuPsHROugoI6AZAHiAuie1VkwdvHaH9JfS0MJmADFJRhs1EcOfJGGNYZB4MFY98mBvhQhZAI1r6hSsbquKZB2L9z6zU2stiOzOCbTp1m77pkuoLNtE9ZAjEwFZCKe8lpXRvRQYfZB4egiovY3mA0KWkOwQjCPaT2ZA1XT9VusaAyecZCor6IH3przgguLi9cZD"

APP_ID=""
APP_SECRET=""
RECIPIENT_WAID="+919523218671" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v18.0"
PHONE_NUMBER_ID="225908483946704"

VERIFY_TOKEN="1234"

OPENAI_API_KEY="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"
OPENAI_ASSISTANT_ID="asst_2EDmLln1ZJLUtxCbtoypmAqY"